<%= include('includes/top.tmpl') %>

    <div class="main frame2">
        <button class="change_color_of_all_frames">Change color of all frames</button>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non mattis urna. Etiam varius cursus metus quis gravida. Donec magna enim, lacinia non tempus ac, mollis quis neque. Nam tristique non diam eu adipiscing. Aliquam sodales vehicula velit, at aliquet felis gravida vitae. Nulla eleifend odio enim. Aenean cursus viverra ante, sed tristique eros vestibulum at. Morbi adipiscing mattis erat a imperdiet. Mauris non lectus vitae velit accumsan sagittis. Suspendisse in purus vitae quam suscipit pellentesque convallis vitae odio. In euismod bibendum magna, a mollis ipsum iaculis eget.</p>

        <p>Maecenas fermentum mauris posuere, bibendum arcu adipiscing, laoreet tellus. Maecenas vitae justo eros. Duis aliquam gravida sodales. Nulla bibendum laoreet ultrices. Ut iaculis turpis quam, ac rhoncus quam lacinia eget. Sed iaculis pretium ipsum quis pharetra. Phasellus enim nulla, ultrices sit amet augue sit amet, placerat mattis sapien.</p>

        <p>Nullam urna eros, iaculis non tortor id, venenatis sodales risus. Vestibulum fringilla ligula ut lorem viverra pharetra. Morbi ac vulputate tellus. Sed et lorem in ipsum dignissim pharetra. Ut molestie vitae sapien non ultricies. Duis varius in magna ut lacinia. Etiam aliquet, lorem ac faucibus sodales, sem lectus eleifend ligula, et lobortis neque nunc in justo. Vestibulum posuere diam lorem, a imperdiet orci gravida in. Nam justo ante, gravida quis justo non, dignissim euismod nibh. In dapibus bibendum quam non fringilla. Phasellus interdum ultrices quam, in pharetra lacus commodo sed. Proin quis lectus sagittis, ultrices ligula ut, sollicitudin dolor. Duis nec scelerisque eros.</p>

        <p>Vestibulum at nisl nunc. Ut quam neque, tincidunt non urna ut, gravida viverra odio. Etiam ullamcorper, justo a pretium posuere, risus elit lobortis dui, quis euismod libero tellus eget leo. Curabitur semper felis sed sapien vehicula condimentum. Maecenas scelerisque bibendum metus, ut auctor erat egestas non. Pellentesque quis elit nec risus laoreet ornare vitae eu mi. Donec sed est nec magna venenatis sollicitudin non malesuada purus.</p>

        <p>Donec eget metus mauris. Sed urna nulla, elementum ut sollicitudin quis, malesuada in tellus. Duis lorem purus, interdum non arcu quis, convallis mattis libero. Vestibulum iaculis interdum nisi bibendum luctus. Curabitur aliquet nulla id augue aliquam feugiat. Duis ac turpis orci. Nam libero nulla, faucibus in erat et, tristique malesuada magna. Duis ut orci iaculis, vehicula nibh et, tincidunt sapien.</p>

        <p>Nam ultricies, enim gravida placerat cursus, erat turpis auctor enim, et volutpat nisl sem sit amet lacus. Quisque vel leo rhoncus nibh commodo vestibulum vel a sapien. Morbi blandit urna sit amet nunc ornare lobortis. Donec adipiscing ante sed malesuada venenatis. Mauris fringilla eget felis sed faucibus. Ut mollis convallis orci, nec gravida ante euismod non. Mauris arcu nibh, gravida at tincidunt sit amet, feugiat vehicula turpis.</p>

        <p>Proin tempor, nisl sagittis venenatis placerat, enim tortor dignissim mauris, a ultricies quam justo eget sem. Ut quis vehicula quam, sagittis dignissim mi. Donec imperdiet enim ut lectus facilisis, vitae tristique massa vulputate. Cras eu tincidunt metus, a molestie turpis. Nunc imperdiet, magna ac consequat adipiscing, augue tellus volutpat arcu, a tempus magna eros et tellus. Phasellus consequat est et lacinia adipiscing. Aliquam erat volutpat. Sed mollis metus erat.</p>

        <p>Nullam volutpat orci vitae dui venenatis feugiat. Pellentesque tincidunt ante fermentum nisi ullamcorper, quis bibendum est facilisis. Nunc luctus elit at orci elementum adipiscing. Praesent tempor felis non lectus consectetur, semper pretium lacus mattis. Integer commodo elementum neque. Pellentesque facilisis tempor nunc lobortis tempor. Morbi elementum, lacus et malesuada bibendum, tellus felis semper lacus, mollis pharetra nisi mi congue lacus. Sed eu bibendum lectus. Vivamus sem leo, aliquet nec eros ultricies, malesuada gravida augue.</p>

        <p>Aenean turpis diam, semper a libero et, mattis rutrum erat. Vestibulum lobortis nibh id dolor bibendum euismod a ut eros. Sed vel molestie dui. Nunc eu laoreet mi. Sed vulputate condimentum neque eu bibendum. Mauris quis posuere magna. Suspendisse euismod nulla nec rutrum posuere. Proin interdum ac ipsum vel cursus. Proin tempor ornare eleifend.</p>

        <p>Nam sed lorem nec urna blandit volutpat at in magna. Etiam hendrerit nunc vitae dignissim cursus. Nulla ultrices malesuada nibh vel semper. Vivamus orci eros, ullamcorper accumsan erat at, fringilla venenatis erat. Phasellus at erat erat. Phasellus tincidunt neque ut mattis tincidunt. Nulla facilisi.</p>

    </div>

<%= include('includes/bottom.tmpl') %>