<%= include('includes/top.tmpl') %>

    <div class="main extraFrame">

        <p>Here's another frame just for the sake of it.</p>

        <button class="change_color_of_all_frames">Randomise colors</button>

    </div>

<%= include('includes/bottom.tmpl') %>