<%= include('includes/top.tmpl') %>

    <div class="main frame2">
        <button class="change_color_of_all_frames">Change color of all frames</button>
    </div>

<%= include('includes/bottom.tmpl') %>