<%= include('includes/top.tmpl') %>

    <div class="main frame1">
    	<button class="change_color_of_frame_2">Change color of iframe 2</button> <button class="change_color_of_frame_3">Change color of iframe 3</button>
    </div>

<%= include('includes/bottom.tmpl') %>