<%= include('includes/top.tmpl') %>

    <div class="main frame3">
        <button class="send_multiple_arguments">I send multiple arguments</button>
    </div>

<%= include('includes/bottom.tmpl') %>