$anchor-active: #f00;

@import "news_special/defaults";

.main img {
	width: 100%;
}

.facewall {
    list-style-type: none;
}

.facewall_item {
    display: inline-block;
    padding: 25px;
    background: indianred;
    width: 35px;
    text-align: center;
    border: 1px solid rgb(145, 145, 93);
    cursor: pointer;

    &:hover {
        background: steelblue;
    }
}

.facewall_item--selected {
    background: #75AEDD;
    font-weight: bold;
}